<h1>Here are all the users!</h1>

<ul>
    <% @users.each do |user| %>
        <li><%= user.username %></li>
        <li><%= user.email %></li>
        <li><%= user.company %></li>
        <li><%= user.location %></li>
        <br>
    <% end %>
</ul>